<div class="image"><img src="/favicon-32x32.png"></div>

<h1>
    {{app_name}} is here
</h1>

<form action="/new" method="POST">
    <div>
        <input type="email" name="email" id="email" placeholder="your email">
    </div>
    <div>
        <textarea name="message" id="message" cols="50" rows="10" placeholder="type your message to yourself"></textarea>
    </div>
    <div>
        <input type="date" id="send_at" name="send_at">
    </div>

    <div>
        <button type="submit">Send this to me!</button>
    </div>
</form>